/OlaMundoJavaFX/nbproject/private/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/Exemplos/nbproject/private/
/Exemplos/build/
/Exemplos2/nbproject/private/
/Exemplos2/build/
/CadastroDeClientes/nbproject/private/
/CadastroDeClientes/build/
/ContaBanco/nbproject/private/
/ContaBanco/build/