/OlaMundoJavaFX/nbproject/private/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/Exemplos/nbproject/private/
/Exemplos/build/
/Exemplos2/nbproject/private/
/Exemplos2/build/
/CadastroDeClientes/nbproject/private/
/CadastroDeClientes/build/
/ContaBanco/nbproject/private/
/ContaBanco/build/
/CadastroClientes/nbproject/private/
/CadastroClientes/build/
/Carro/nbproject/private/
/Carros/nbproject/private/
/JogoFutebol/nbproject/private/
/ProjetoPessoas/nbproject/private/
/ProjetoPessoas/build/